body {
 font-family: Arial, sans-serif;
 margin: 0;
 padding: 0;
}

.container {
 max-width: 800px;
 margin: 50px auto;
 padding: 20px;
 border: 1px solid #ccc;
 border-radius: 5px;
 box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
 text-align: center;
}

.form-container {
 display: flex;
 flex-direction: column;
 align-items: center;
 gap: 10px;
 margin-bottom: 20px;
}

.form-container label,
.form-container input,
.form-container button {
 width: 100%;
 max-width: 300px;
}

.form-container input,
.form-container button {
 padding: 5px;
 font-size: 16px;
}

.form-container button {
 cursor: pointer;
 background-color: #007bff;
 color: #fff;
 border: none;
 border-radius: 5px;
}

.form-container button:hover {
 background-color: #0056b3;
}

.tabela-inss,
.tabela-irrf {
 width: 100%;
 margin-bottom: 20px;
 border-collapse: collapse;
 text-align: center;
}

.tabela-inss caption,
.tabela-irrf caption {
 font-weight: bold;
 font-size: 1.2em;
 margin-bottom: 10px;
}

.tabela-inss th,
.tabela-inss td,
.tabela-irrf th,
.tabela-irrf td {
 padding: 8px;
 border: 1px solid #ccc;
}

.tabela-inss th,
.tabela-irrf th {
 background-color: #f0f0f0;
}

.resultado-container {
 display: flex;
 justify-content: space-between;
 padding: 5px;
 border-top: 1px solid #ccc;
}

.resultado-container p {
 font-weight: bold;
}

#inss,
#irrf,
#salario-liquido {
 flex: 1;
 text-align: right;
}
